@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Koulen&display=swap');
#navigation{
    margin:0 auto;
    max-width: 1600px;
    background-color: #ABC4AB;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    justify-content: auto;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-align: center;
    font-family:Koulen;
    color: #727D71;
    text-decoration: none;
    margin: 0 15px;
    font-size: 50px;
    justify-content: center;
}

#logo{
    align-items: center;
    margin: 20px;
    padding: 1px;
    width: 200px;
    grid-column: 1/3;
    justify-content: center;
    
    
    
}
#photo{
    margin: 0;
    padding: 30px;
}


/* footer{
    display: grid;
    background-color: #ABC4AB; */

#footer_div{
    background-color:#727D71;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    font-weight: 10px;
    font-family: Alumni Sans;
    color: #DCC9B6;
}
#my_footer_logo{
    width:200px;
    align-content: center;
}
#footer_logo_instgram{
    grid-column: 3/4;
}
.footer_logo{
    width: 50px;
    grid-column: 3/4;
}